.modal {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color_black);
  padding: 4px 20px 15px;
  border-radius: 2px;
  width: 300px;
  border: 2px solid var(--color_light_gray);
  border-top: none;
  border-right: none;
  z-index: 1;
  transition: top 0.5s cubic-bezier(.22,.75,.62,.87);
}

.modal>h1 {
  margin: 10px 0 20px;
  color: var(--color_secondary);
}

.modal input {
  width: 100%;
  height: 30px;
  padding: 2px 5px;
  margin-bottom: 20px;
}

.modal div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.error {
  margin: 5px 0;
  color: var(--color_error);
  font-size: 12px;
  height: 15px;
}